# Ignore temporary Python files and caches
__pycache__/
*.py[cod]
*$py.class

# Ignore sshfs-mounted DVC remote directory
/dvc_sshfs_remote/

# Ignore local DVC metadata if DVC is used temporarily
.dvc/
.dvcignore

.DS_Store
